.home-background-image {
  height: 100vh;
  background-image: url("../images/golden_gate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%) opacity(40%) blur(3px);
}
.home_content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.home_content-text {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.home_content-image {
  width: 100%;
}
.home_content-text h4 {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: var(--light-teal-base);
}
.home_content-text h1 {
  font-size: 3rem;
  font-weight: 700;
}
.home_content-text p {
  padding: 0 1rem;
}
.home_content-text button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.home_content-text button:hover {
  background-color: var(--light-teal-base);
  color: white;
}
@media (max-width: 700px) {
  .home_content-text h1 {
    display: none;
  }
  .home_content-text h4 {
    font-size: 2rem;
  }
}
