.nav-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: white;
  color: #333;
}
.logo-container {
  display: flex;
  flex-direction: row;
}
.logo-container img {
  width: 30px;
  border-radius: 50%;
}
.nav-container h3 {
  letter-spacing: 3px;
  font-size: 1.8rem;
}
.nav-items {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.nav-items-link {
  color: #333;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}
.nav-items-link:hover {
  color: var(--lighter-orange-accent);
}
.nav-container button {
  background: transparent;
  border: none;
  color: #333;
}
.nav-btn,
.exit-btn {
  display: none;
  font-size: 1.8rem;
}
@media (max-width: 900px) {
  .nav-btn,
  .exit-btn {
    display: flex;
  }

  .nav-items {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;
    background-color: white;
    transition: 1s;
    transform: translateY(-100vh);
  }
  .responsive_nav {
    transform: none;
  }
  .exit-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .nav-items-link {
    font-size: 1.5rem;
  }
}
