.contact-page {
  min-height: 100vh;
}
.contact-content_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-page_heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.contact-page_heading h1 {
  font-family: "M PLUS Code Latin", sans-serif;
  font-size: 7rem;
  color: rgba(198, 196, 196, 0.347);
  letter-spacing: 5px;
  margin-bottom: 1rem;
  position: relative;
}
.contact-page_heading h3 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  color: #444;
  position: absolute;
  bottom: 3rem;
}
.contact-info_container {
  max-width: 600px;
  /* aspect-ratio: 16/9; */
  /* border: 2px solid red; */
}
.contact-form_container {
  border: 2px solid red;
  /* aspect-ratio: 16/9; */
  max-width: 500px;
}
