* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
:root {
  --dark-blueish-base: #03234a;
  --light-teal-base: #23a2fc;
  --blue-grey-base: #647297;
  --dark-orange-accent: #8f414f;
  --lighter-orange-accent: #e55636;
  --ocean-blue-accent: #7cb8d4;
  --main-dark-base: rgb(38, 38, 38);
  --main-light-base: #e9e9ff;
}
